.card {
  height: auto;
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: lightsteelblue;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  box-shadow: 7px 10px 30px 4px rgba(0, 0, 0, 0.47);
  margin: 5px;
}

.card:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.372);
}
.card-details {
  height: 100px;
  overflow: hidden;
}

.card-img {
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 5px;
  width: 290px;
}
