.logout-icon {
  font-size: 20px;
  padding: 3px 0;
  color: white;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.logout-icon:hover {
  color: red;
}
